@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');

:root {
    --hover:rgb(56,74,235);
}
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

*::selection {
    background: #fff;
    color: var(--hover);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.42;
    font-size: 16px;
}

.btn{
    background-color: var(--hover);
    border: 1px solid rgb(56,74,235);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    padding: 1rem 3rem 1rem 3rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn:hover{
    background-color: #fff;
    color: var(--hover);
}

/* start header */
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    padding: 10px 18px 10px 10px ;
    /* background-color: hotpink; */
    z-index: 1000;
}
header .logo{
    width: 10rem;
}
header .logo img {
    width: 100%;
    height: 100%;
}
header .navbar a {
    color: #000;
    font-size: 18px;
    margin: 15px;
    text-decoration: none;
    position: relative;
}
header .navbar a:hover{
    color: var(--hover);
}
header .icons i {
    font-size: 18px;
    color: #000;
    cursor: pointer;
    margin: 0.8rem;
}

header .icons i:hover {
    color: var(--hover);
}
header .btn{
    background-color: #fff;
    color: #000;
    margin: 0.5rem;
    border: 1px solid rgba(0, 0, 0, .2);
}
header .btn:hover{
    background-color: var(--hover);
    color: #fff;
}

#menu-bar {
    border-radius: .5rem;
    font-size: 3rem;
    margin: 0.5rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
    color: var(--hover);
    border:.1rem solid var(--hover);

}

#menu-bar:hover {
    color: rgb(128,142,156);
    border:.1rem solid rgba(0, 0, 0, .3);
}
/* start home */

.home {
    background-color: rgb(241,246,247);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home div {
    align-items: center;
    text-align: center;
}

.home div h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 10px;
}

.home div p {
    color: rgb(128,142,156);
}

/* end home */

.table-container{
    width: 75%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
    text-align: center;
    display: flex;
}
.table-container .pic{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    text-align: center;
    align-items: center;
    width: 100%;
}
.table-container .pic img{
    width: 10%;
    height: 30%;
}
.table-container .pic p{
    color: rgb(128,142,156);
}
.table-container table{
    width: 100%;
    border-collapse: collapse;
}
.table-container table tr:first-child{
    font-size: 20px;
    font-weight: bold;
}
.table-container table td:first-child{
    text-align: left;
}
.table-container table td:last-child{
    text-align: right;
}
.table-container table td{
    padding: 1% 2% 1% 2%;
    margin: auto;
    width: min-content;
}
.table-container table tr{
    border-bottom: 1px solid rgba(128, 142, 156, 0.442);
}
.table-container table tr:last-child{
    border-bottom: 0px;
}
.table-container table .update{
    width: 50%;
}
.table-container table .update #coupon{
    padding: 1.5% 2% 1.5% 2%;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
    border: 1px solid rgba(128, 142, 156, 0.407);
    margin-right: 1%;
}
.table-container table .hover{
    background-color: rgb(241,246,247);
    color: #000;
    border: 1px solid rgb(241,246,247);

}
.table-container table .hover:hover{
    border: 1px solid var(--hover);
    color: var(--hover);
}
.shipping .sh-title {
    align-items: center;
    margin-left: 18%;
    float: left;
}
.shipping .shipping-container{
    text-align: right;
}
.shipping .shipping-container .box .sh-box{
    margin: 2rem 0rem 2rem 0rem ;
    color: rgb(128,142,156);
}
.shipping .shipping-container .box h6{
    font-size: 15px;
    color: #000 !important;
}

.shipping .shipping-container .box .input-box{
    float: right;
}
.shipping .shipping-container .box .shipping-select{
    width: 30rem;
    margin: 2rem 0rem 2rem 0rem ;
    background-color: rgb(241,246,247);
    color: rgb(128,142,156);
    padding: 4% 8% 4% 8%;
    border: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: block;
}

/* start footer */
.footer {
    position: relative;
    top: 0;
    background:rgb(0,35,71);
    margin-top: 3%
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0% 10% 0% 10%;
}

.footer .box-container .box {
    padding: 5rem ;
    flex: 1 1 25rem;
}
.footer .box-container .box .pic-container{
    width: 150px;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    margin: 1rem 0rem 1rem 0rem;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: rgb(128,142,156);
    margin: 1rem 0rem 1rem 0rem;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    width: max-content;
    color: rgb(128,142,156);
    text-decoration: none;
}
.footer .box-container .box .con-container h4{
    color: #fff;
}

.footer .box-container .box .con-container p{
    margin-left: 22%;
}


.footer .box-container .box i {
    color: #fff;
    background-color: rgb(56,74,235);
    border-radius: 50%;
    padding: 8px;
    margin-right: 0.5rem;
    font-size: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer .box-container .box a:hover {
    color: #ffffff;
}


.footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(5,39,75);
}

.footer .credit span {
    color: blue;
}
/* end footer */

/* media query */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 768px) {
    #menu-bar {
        position: absolute;
        right: 1rem;
        display: initial;
    }
    header{
        width: auto;
        
    }
    .btn{
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 10px;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(56, 74, 235, 0.345);
        backdrop-filter: blur(2px);
        border-top: .1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        width: 100%;
        height: 100vh;
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        width: 40%;
    }
    header .navbar a:hover{
        color: #fff;
    }
    .home .right .content{
        width: 40%;
    }
    .home .right .content h4{
        font-size: 20px;
    }
    .home .right .content h3{
        font-size: 20px;
    }
    .home .right .content p{
        font-size: 10px;
        margin: 2rem 0rem 4rem 0rem
    }
    .home .pic{
        height:340px;
        width: 150px;
        margin:4rem 25rem 0rem 0rem;
    }
    .home{
        height: 250px;
    }
    .slide-container{
        height: max-content;
    }
    .sale-container .sale-content{
        width: max-content;
        left: 5%;
        top: 0%;    
    }
    .sale-container .sale-content h3{
        font-size: 15px;
    }
    .sale-container .sale-content h4{
        font-size: 10px;
        margin-top: 0.1rem;
    }
    .latest-container{
        flex-wrap: wrap;
    }
    .sale-container .sale-content p{
        font-size: 10px;
        margin-bottom: 0.1rem;
    }
    .trending-section .trending-title::after {
        left: 48%;
        width: 15rem;
    }
    .swiper-section .swiper-title::after {
        left: 26%;
        width: 13rem;
    }
    .swipe .swiper-left{
        left: 2%;
    
    }
    .swipe .swiper-right{
        right: 2%;
    }

    .latest-section .latest-title::after {
        left: 35%;
        width: 10rem;
    }
    .subscribe .subscribe-container{
        height: 250px;
    }
    .latest-section{
        margin: 6% 15% 45% 15%;
    }
    .subscribe .subscribe-container input{
        padding: 1rem 5rem 1rem 2rem;
    }
    .footer {
        margin-top: 24%
    }
    .footer .box-container {
        padding: 0% 4% 0% 4%;
    }
    .footer .box-container .box h3 {
        font-size: 2rem;
    }
    .footer .box-container .box .con-container p{
        margin-left: 12%;
    }
    .footer .credit {
        font-size: 1rem;
    }



    .home{
        height: 250px;
    }
    .shop-category {
        width: 92%;
    }
    .left-section{
        width: 40%;
        font-size: 74%;
    }
    .right-section .sort .default ,.show,.sort-searchBar {
        margin: 1rem;
    }
    .right-section .sort{
        flex-direction:  column;
        align-items: flex-start;
    }
    .coffee-section {
        margin-bottom: 45%;
    }
    .coffee-section .coffee-title::after {
        left: 19%;
        width: 15rem;
    }



    .table-container{
        width: 90%;
        font-size: 10px;
    }
    .table-container table tr:first-child{
        font-size: 10px;
    }
    .table-container .pic img{
        width: 40px;
        height: 45px;
    }
    .table-container .pic p{
        font-size: 5px;
    }
    .table-container table td{
        padding: 1%;
    }
    .table-container table .hover{
        margin:1rem 0rem 1rem 0rem ;
    }
    .table-container table .update{
        width: 10%;
        height: min-content;
    }
    .table-container table .update #coupon{
        margin-right: 0%;
        float: left;
    }
    .shipping .sh-title {
        margin-left: 22%;
    }
    .footer {
        margin-top: 10%
    }


}
@media (max-width: 450px) {
    html {
        font-size: 45%;
    }

}
